export const environment = {
  firebase: {
      apiKey: '${api_key}',
      authDomain: '${auth_domain}',
      databaseURL: '${database_url}',
      projectId: '${project_id}',
      storageBucket: '${storage_bucket}',
      messagingSenderId: '${messaging_sender_id}',
      appId: '${web_app_id}',
      measurementId: '${measurement_id}',
  },
  gemini_api_key: '${gemini_api_key}',
  debug_token: '${debug_token}'
};