<div class="site-layout">
  <div class="container"></div>
  <div class="min-h-[100vh] h-full w-full py-10 flex bg-gray-50">
    <div class="flex flex-col space-y-4 p-6 w-full">
      <div class="flex justify-between items-center mb-4">
        <span
          class="text-3xl font-light mt-5 text-amber-800 font-pixel text-center"
          >MAKE IT SO</span
        >

        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon class="text-gray-600 material-icons-outlined"
            >settings</mat-icon
          >
        </button>
        <mat-menu #settingsMenu="matMenu">
          <button
            mat-menu-item
            class="text-gray-800 hover:bg-gray-100"
            (click)="this.todoService.logout()"
          >
            Sign Out
          </button>
        </mat-menu>
      </div>
      <button mat-raised-button color="accent" (click)="this.generateMainTask()">
        Generate from Previous Task
      </button>
      <div class="flex items-center mb-4 justify-between">
        <div
          class="file-upload-wrapper"
          [class.success]="uploadSuccess"
          [class.error]="uploadError"
          (drop)="onFileDrop($event)"
          (dragover)="onDragOver($event)"
        >
          <label
            class="bg-gradient-to-r from-indigo-300 to-cyan-100 text-black font-extralight py-4 px-4 rounded-full w-full flex items-center justify-center font-pixel text-xl"
          >
            <input
              type="file"
              accept="image/*"
              (change)="generateMainWithSubTaskFromImage($event)"
              hidden
              #fileInput
            />
            <mat-icon class="mr-2 text-black">add</mat-icon>
            Generate task from Image
          </label>
        </div>
      @for (todo of todos; track todo.id) {
      <div
        class="flex items-center space-x-3 p-4 bg-white rounded-lg shadow mb-3"
      >
        <mat-checkbox
          (click)="updateComplete(todo)"
          value="todo.completed"
          class="text-orange-500"
        ></mat-checkbox>
        <div
          class="flex-grow {{
            todo.completed ? 'text-decoration-line: line-through' : ''
          }}"
        >
          <p class="font-medium text-gray-800">{{ todo.title }}</p>
          <p class="text-sm text-gray-500">
            {{ todo.dueDate }}
          </p>
        </div>
        <mat-chip class="px-3 py-1 text-white text-sm font-bold rounded-full">
          {{ todo.priority }}
        </mat-chip>
        <button mat-icon-button [matMenuTriggerFor]="taskMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #taskMenu="matMenu">
          <button mat-menu-item (click)="openEditor(todo)">
            <mat-icon class="text-gray-600 material-icons-outlined"
              >edit</mat-icon
            >
            Edit
          </button>
          <button mat-menu-item>
            <mat-icon class="text-gray-600 material-icons-outlined"
              >flag</mat-icon
            >
            Flag
          </button>
          <button mat-menu-item (click)="deleteTask(todo)">
            <mat-icon class="text-gray-600 material-icons-outlined"
              >delete</mat-icon
            >
            Delete
          </button>
        </mat-menu>
      </div>
      }

      @if (showEditor) {
      <div
        class="w-full md:w-1/2 p-6 bg-white transition-all duration-300 ease-in-out border border-gray-300 rounded-lg"
      >
        <button (click)="closeEditor()" class="absolute top-4 right-4">
          <mat-icon>close</mat-icon>
        </button>
 
        <h2 class="text-xl font-bold mb-4">
          {{ selectedTaskId ? "Edit Task" : "New Task" }}
        </h2>

        <form [formGroup]="taskForm" (ngSubmit)="submit()">
          <div class="flex justify-end">
            <button mat-raised-button color="primary" type="submit">Save</button>
          </div>       
          <mat-form-field class="w-full mb-4">
            <mat-label>Title</mat-label>
            <input
              matInput
              formControlName="title"
              placeholder="Develop the app"
            />
          </mat-form-field>

          <div class="flex space-x-4 mb-4">
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dueDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex items-center mb-4 justify-between">
            <span>Priority</span>
            <mat-button-toggle-group
              formControlName="priority"
              class="mb-4"
            >
              <mat-button-toggle value="high">High</mat-button-toggle>
              <mat-button-toggle value="medium">Medium</mat-button-toggle>
              <mat-button-toggle value="low">Low</mat-button-toggle>
              <mat-button-toggle value="none">None</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <mat-slide-toggle formControlName="flagged">Flag</mat-slide-toggle>
          <div class="flex items-center mb-4 justify-between">
            <div
              class="file-upload-wrapper"
              [class.success]="uploadSuccess"
              [class.error]="uploadError"
              (drop)="onFileDrop($event)"
              (dragover)="onDragOver($event)"
            >
              <label
                class="bg-gradient-to-r from-indigo-300 to-cyan-100 text-black font-extralight py-4 px-4 rounded-full w-full flex items-center justify-center font-pixel text-xl"
              >
                <input
                  type="file"
                  accept="image/*"
                  (change)="onFileChange($event)"
                  hidden
                  #fileInput
                />
                <mat-icon class="mr-2 text-black">add</mat-icon>
                Add subtasks from Image
              </label>
            </div>
            <div>
              @if (imageName()) {
              <div>
                <img
                  [src]="imagePreview()"
                  alt="Image Preview"
                  class="image-preview"
                />
                <p>
                  <span class="image-name">{{ imageName() }}</span> ({{
                    fileSize()
                  }}
                  KB)
                </p>
                <mat-icon class="delete-icon" (click)="removeImage()"
                  >delete</mat-icon
                >
              </div>
              }
            </div>
            <div>
              @for (subtask of this.subtasks; track subtask.todo.id) {
              <div>
                <div
                  class="flex items-center space-x-3 p-4 bg-white rounded-lg shadow mb-3"
                >
                  <mat-checkbox
                    (click)="updateComplete(subtask.todo)"
                    value="subtask.todo.completed"
                    class="text-orange-500"
                  ></mat-checkbox>
                  <div
                    class="flex-grow {{
                      subtask.todo.completed
                        ? 'text-decoration-line: line-through'
                        : ''
                    }}"
                  >
                    <input
                      *ngIf="subtask.editing"
                      [(ngModel)]="subtask.todo.title"
                      class="w-full p-2 border rounded"
                    />
                    <p
                      *ngIf="!subtask.editing"
                      class="font-medium text-gray-800"
                    >
                      {{ subtask.todo.title }}
                    </p>
                  </div>
                  <button mat-icon-button [matMenuTriggerFor]="subtaskMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #subtaskMenu="matMenu">
                    <button mat-menu-item (click)="editSubtask(subtask)">
                      <mat-icon
                        class="text-gray-600 material-icons-outlined"
                        >edit</mat-icon
                      >
                      Edit
                    </button>
                    <button mat-menu-item (click)="moveSubtaskUp(subtask)">
                      <mat-icon
                        class="text-gray-600 material-icons-outlined"
                        >keyboard_arrow_up</mat-icon
                      >
                      Move order up
                    </button>
                    <button
                      mat-menu-item
                      (click)="moveSubtaskDown(subtask)"
                    >
                      <mat-icon
                        class="text-gray-600 material-icons-outlined"
                        >keyboard_arrow_down</mat-icon
                      >
                      Move order down
                    </button>
                    <button mat-menu-item (click)="deleteSubtask(subtask)">
                      <mat-icon
                        class="text-gray-600 material-icons-outlined"
                        >delete</mat-icon
                      >
                      Delete
                    </button>
                  </mat-menu>
                </div>
              </div>
              }
            </div>
          </div>
        </form>
      </div>
      }
    </div>
  </div>
</div>
