<div class="min-h-[100vh] h-full w-full py-10 flex flex-wrap flex-col-reverse sm:flex-row items-center justify-center bg-gray-100">
    <div class="sm:w-1/2 h-full flex items-center justify-center">
        <img src="assets/gemini.svg" class="w-80 m-auto" />
    </div>
    <div class="sm:w-1/2 flex flex-col gap-8 items-center justify-center">
        <div class="flex flex-col items-center">
            <span class="text-5xl font-light mt-5 text-amber-800 font-pixel">MAKE IT SO</span>
        </div>
        <button class="transition-all w-96 border-2 border-gray-300 text-xl flex items-center rounded-full p-3 justify-between hover:bg-gray-200" (click)="this.todoService.login()">
            <span class="m-2 pr-4 text-neutral-500">Sign in anonymously</span>
        </button>
    </div>
</div>
